* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  width:100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
header {
  background-color: #272727;
 
}
header ul {
    display: flex;
    justify-content: space-between;  
    text-align: center;
    height: 215px;
}
header li {
  list-style-type: none;
  padding: 10px;

} 
header a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
header h2 {
  font-size: 30px;
}
header button{
  width:100px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  margin-top:15px;
}
.logo {
  display: flex;
  /* background-color: #bada55; */
  outline: 1px solid black;
  width: 230px;
  align-self: flex-start;
  flex-direction: column;
}