* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  width:100%;
}
header ul {
    display: flex;
    justify-content: space-evenly 
}
header li {
  list-style-type: none; 

} 
header a {
    display: block;
    text-decoration: none;
}
header button{
  width:100px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  margin-top:15px;
}